@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

:root {
    --bg-color: #ff6300;
    --white: #fff;
}

body {
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Helvetica Neue', sans-serif !important;
    background-color: #111111;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

button,
input,
a {
    outline-width: 0px;
}

p {
    color: #696969;
    font-size: 1rem;
}

.section {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    width: 25rem;
}

.rest {
    margin-top: 9.5rem;
    margin-bottom: 2.25rem;
    background-color: #1e1e1e;
    border-radius: 0.625rem;
    padding: 0.31rem;
    width: 3.125rem;
    border: 0.45px solid #696969;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
}

.title {
    margin-bottom: 1.12rem;
    font-size: 1.9rem;
}

.nums {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.nums p {
    font-size: 0.75rem;
    padding-top: 1rem;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 0.625rem;
    border: 0.45px solid #696969;
    background: #1E1E1E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form {
    padding-top: 2.44rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    font-size: 1rem;
    color: #868686;
    padding-left: 0.8rem;
    padding-bottom: 0.3rem;
}

input {
    width: 26rem;
    height: 3.4rem;
    border-radius: 0.625rem;
    background: #1E1E1E;
    border: none;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    color: #868686;
}

::-webkit-input-placeholder {
    color: #555;
    font-size: 0.9rem;
}

:-moz-placeholder {
    color: #555;
    font-size: 0.9rem;
}

::-moz-placeholder {
    color: #555;
    font-size: 0.9rem;
}

:-ms-input-placeholder {
    color: #555;
    font-size: 0.9rem;
}

.whats {
    bottom: 2rem;
    right: 2rem;
    position: fixed;
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.whats img {
    width: 4rem;
}

@media (max-width: 860px) {
    .right {
        height: 80vh;
        width: 80vw;
    }
}

@media (max-width: 650px) {
    .right {
        margin-top: 2rem !important;
        height: 90vh;
        width: 80vw;
    }
}