@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');

:root {
    --bg-color: #ff6300;
    --white: #fff;
}

body {
    text-align: center;
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box;
    /* font-family: 'Ubuntu', sans-serif; */
    font-family: 'Helvetica Neue', sans-serif !important;
    background-color: #111111;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

button,
input,
a,
select {
    outline-width: 0px;
}

p {
    color: #696969;
    font-size: 1rem;
}

.section {
    text-align: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--white);
    width: 25rem;
}

.rest {
    margin-top: 3rem;
    margin-bottom: 2.25rem;
    background-color: #1e1e1e;
    border-radius: 0.625rem;
    padding: 0.31rem;
    width: 3.125rem;
    border: 0.45px solid #696969;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    flex-shrink: 0;
}

.title {
    margin-bottom: 1.12rem;
    font-size: 1.9rem;
}

.nums {
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.nums p {
    font-size: 0.75rem;
    padding-top: 1rem;
    width: 3.125rem;
    height: 3.125rem;
    border-radius: 0.625rem;
    border: 0.45px solid #696969;
    background: #1E1E1E;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.form {
    padding-top: 2.44rem;
    display: flex;
    flex-direction: column;
    text-align: left;
}

label {
    font-size: 1rem;
    color: #868686;
    padding-left: 0.8rem;
    padding-bottom: 0.3rem;
}

input {
    width: 26rem;
    height: 3.4rem;
    border-radius: 0.625rem;
    background: #1E1E1E;
    border: none;
    padding-left: 0.8rem;
    padding-right: 0.8rem;
    color: #868686;
}

.docs {
    position: relative;
    margin-bottom: 1.6rem;
}

#tipoDocumento {
    width: 5rem;
    height: 3.4rem;
    border-radius: 0.625rem;
    background: #1E1E1E;
    border: none;
    color: #868686;
    padding-left: 0.3rem;
    border: 0.45px solid #696969;
    position: absolute;
    z-index: 2;
}

.docs input {
    width: 26rem;
    z-index: 1;
    padding-left: 5.8rem;
}

/* Estilo para a caixa de entrada */
.select2-selection--multiple {
    width: 26rem !important;
    /* height: 6rem !important; */
    border-radius: 0.625rem !important;
    background: #1E1E1E !important;
    border: none !important;
    padding-left: 0.8rem;
}

/* Estilo para os itens selecionados */
.select2-selection__choice {
    background-color: var(--bg-color) !important;
    color: #fff !important;
    border-radius: 0.625rem !important;
    margin-bottom: 0 !important;
}

/* Estilo para o campo de pesquisa */
.select2-search__field {
    width: 100% !important;
    border: none !important;
    height: 3.6rem !important;
    width: 20rem !important;
}

/* Estilo para o dropdown */
.select2-dropdown {
    background-color: #1E1E1E !important;
    border: none !important;
    border-radius: 0.625rem !important;
    padding: 0.3rem 0.6rem !important;
    margin: 0.3rem 0 !important;
    color: #fff;
}

/* Estilo para o item sobre o qual o mouse está passando */
.select2-results__option--highlighted, .select2-results__option--highlighted[aria-selected="true"] {
    background-color: var(--bg-color) !important;
    /* Cor de fundo quando destacado */
    color: #fff !important;
    /* Cor do texto quando destacado */
    border-radius: 0.625rem !important;
    margin-left: 0.3rem !important;
    margin-right: 0.3rem !important;
}

.select2-results__option[aria-selected="true"] {
    background-color: red;
    color: #1E1E1E;
    border-radius: 0.625rem !important;
    margin-left: 0.3rem !important;
    margin-right: 0.3rem !important;
}

::-webkit-input-placeholder {
    color: #555;
    font-size: 0.9rem;
}

:-moz-placeholder {
    color: #555;
    font-size: 0.9rem;
}

::-moz-placeholder {
    color: #555;
    font-size: 0.9rem;
}

:-ms-input-placeholder {
    color: #555;
    font-size: 0.9rem;
}

.whats {
    bottom: 2rem;
    right: 2rem;
    position: fixed;
    border: none;
    border-radius: 50%;
    padding: 0.5rem;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
}

.whats img {
    width: 4rem;
}

@media (max-width: 860px) {
    .right {
        height: 80vh;
        width: 80vw;
    }
}

@media (max-width: 650px) {
    .right {
        margin-top: 2rem !important;
        height: 90vh;
        width: 80vw;
    }
}